<div class="container">
  <div class="row header">
    <div class="col-lg-12 text-center">
      <h1 class="headline">win the robot heads from the</h1>
        <h1 class="headline"><span>"cheap shots & setbacks"</span> music video!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/asitis/logo.png">
    </div>
  </div>
  <div class="row header">
    <div class="col-lg-3 col-lg-offset-2">
      <img class="img-responsive artwork" src="https://s3.amazonaws.com/myfangate.com/asitis/albumcover.jpg">
    </div>
    <div class="col-lg-5 preorder-head">
      <h2 class="headline text-center">NEW ALBUM</h2>
      <h1 class="headline"><span>'never happy, ever after'</span></h1>
      <h2 class="headline text-center">available now</h2>
      <img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/asitis-video/brands.png">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 divider"></div>
    <div class="col-lg-12 text-center">
      <h1 class="headline">watch the <span>"cheap shots & setbacks"</span> music video</h1>
    </div>
    <div class="col-lg-8 col-lg-offset-2 ytvid">
      <div class="embed-responsive embed-responsive-16by9 video">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLsBWlr67U5Nv9sGGK_oA9U1TVmj7vtxDC"></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 divider"></div>
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <h1 class="headline">enter your email and share the video to win</h1><h1 class="headline"><span>the robot heads from the music video!</span></h1>
    </div>
    <div class="col-lg-4 col-lg-offset-2">
      <div id="contest"></div>
    </div>
    <div class="col-lg-4 col-lg-offset-0">
      <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/asitis-video/prizes.jpg">
    </div>
    <div class="col-lg-10 col-lg-offset-1 divider"></div>
  </div>
  <%= partial 'partials/social-wall' %>
  <div class="container footer">
    <div class="row text-center">
      <a class="foot-icon" href="http://facebook.com/asitisofficial" target="_blank"><img src="/images/footer/fb.png"></a>
      <a class="foot-icon" href="http://twitter.com/asitisofficial" target="_blank"><img src="/images/footer/tw.png"></a>
      <a class="foot-icon" href="http://instagram.com/asitisofficial" target="_blank"><img src="/images/footer/ig.png"></a>
      <a class="foot-icon" href="https://www.youtube.com/user/asitisofficial" target="_blank"><img src="/images/footer/yt.png"></a>
      <a class="foot-icon" href="http://asitis.limitedrun.com/" target="_blank"><img src="/images/footer/merch.png"></a>
      <a class="foot-icon" href="http://asitisofficial.com/tour.html" target="_blank"><img src="/images/footer/tour.png"></a>
    </div>
  </div>
</div>
